# dependencies
/node_modules

# testing
/coverage

# credentials
/src/pages/background/credentials.ts

# build
/dist

# etc
.DS_Store
.env.local
.idea

# generated manifest
public/manifest.json

# Releases
/releases
