
.App {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App p {
  color: #566370;
  font-size: 0.8rem;
  font-weight: 600;
  margin-top: 0px;
}

.App h3 {
  margin-bottom: 4px;
  font-size: 1rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.profile-picture {
  height: 62px;
  width: 62px;
  pointer-events: none;
  object-fit: cover;
  border-radius: 50%;
}