.App {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App p {
  color: #566370;
  font-size: 0.8rem;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 0px;
}

.App h3 {
  margin-bottom: 4px;
  font-size: 1rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.profile-picture {
  height: 62px;
  width: 62px;
  pointer-events: none;
  object-fit: cover;
  border-radius: 50%;
}

.Row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.SyncStatus {
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
}

.Row p {
  margin: 0;
  font-weight: semi-bold;
  color: #566370;
}

.pulse {
  left: 0; 
  right: 0; 
  top:0;
  bottom: 0;
  margin-left: auto; 
  margin-right: auto; 
  margin-top: auto;
  margin-bottom: auto;
  width: 5px;
  height: 5px;
  border-radius: 15px;
  z-index: 10;
  position: absolute;
  color: #c4f7c7
}

.dot {
  background: transparent;
  border-radius: 30px;
  height: 20px;
  width: 20px;
  animation: pulse 3s ease-out;
  animation-iteration-count: infinite;
  position: absolute;
  left: 0; 
  right: 0; 
  top:0;
  bottom: 0;
  margin-left: auto; 
  margin-right: -5px; 
  margin-top: auto;
  margin-bottom: auto;
  z-index: 1;
  opacity: 0;
}

.PulseContainer {
  height: 20px;
  width: 20px;
  position: relative;
}

@keyframes pulse {
 0% {
    transform: scale(0);
    opacity: 0.0;
 }
 25% {
    transform: scale(0);
    opacity: 0.1;
 }
 50% {
    transform: scale(0.1);
    opacity: 0.3;
 }
 75% {
    transform: scale(0.5);
    opacity: 0.5;
 }
 100% {
    transform: scale(1);
    opacity: 0.0;
 }
}