@import "@assets/style/theme.scss";

@font-face {
  font-family: "inter";
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Inter-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: "inter-semibold";
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Inter-SemiBold.ttf');
  font-weight: semi-bold;
}

@font-face {
  font-family: "inter-bold";
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Inter-Bold.ttf'); 
  font-weight: bold;
}

@font-face {
  font-family: "inter-bolder";
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Inter-ExtraBold.ttf'); 
  font-weight: bolder;
}

#twitter-chrome-extension-cards {
  font-family: inter;
  display: flex;
  flex-direction: row;
  overflow: auto;
  white-space: nowrap;
  padding-right: 16px;
  margin-bottom: 8px;
}

#twitter-chrome-extension-cards::-webkit-scrollbar { 
  display: none;
}

#twitter-chrome-extension-cards * {
  white-space: normal;
}

#twitter-chrome-extension-cards h4 {
  font-size: 1.2rem;
  font-family: inter-bold;
  margin: 0;
  margin-bottom: 4px;
  padding: 0;
}

#twitter-chrome-extension-cards p {
  margin: 0;
  font-size: 0.7rem;
  color: #566370;
}

#twitter-chrome-extension-cards strong {
  font-family: inter-bold;
  color: black;
}

.twitter-chrome-extension-card {
  display: inline-block;
  border-radius: 16px;
  padding: 12px;
  margin-left: 16px;
  border: 1.5px solid #D1D9DD;
  width: 268px;
}

.twitter-chrome-extension-row {
  display: flex;
  min-height: 32px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.twitter-chrome-extension-profile-container {
  position: relative;
  width: 74px;
  margin-right: 2px;
  height: 20px;
}

.twitter-chrome-extension-profile-img {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  border: 1px solid white;
}

.twitter-chrome-extension-profile-img:nth-child(1) {
  position: absolute;
  left: 0px;
  z-index: 3;
}

.twitter-chrome-extension-profile-img:nth-child(2) {
  position: absolute;
  left: 8px;
  z-index: 2;
}

.twitter-chrome-extension-profile-img:nth-child(3) {
  position: absolute;
  left: 16px;
  z-index: 1;
}

/****** BADGE ******/
.twitter-chrome-extension-badges {
  font-family: inter;
  display: flex;
  flex-direction: row;
  overflow: auto;
  white-space: nowrap;
  padding-right: 16px;
}

.twitter-chrome-extension-badge {
  border-radius: 18px;
  height: 22px;
  font-size: 0.8rem;
  font-family: inter-semibold;
  background: #D1D9DD;
  color: #566370;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  margin-top: 2px;
  margin-bottom: 8px;
  padding-left: 2px;
  padding-right: 6px;
}

.twitter-chrome-extension-badges::-webkit-scrollbar { 
  display: none;
}

.twitter-chrome-extension-badge .twitter-chrome-extension-profile-img {
  border: 1px solid #D1D9DD;;
}

.twitter-chrome-extension-badge p {
  margin: 0px;
  margin-left: 2px;
}

.twitter-chrome-extension-badge .twitter-chrome-extension-profile-container {
  width: 36px;
  margin-right: 0px;
}


/****** MODAL ******/

.modal {
  display: block;
  padding: 0 1em;
  text-align: center;
  width: 100%;
}
@media (min-width: 43.75em) {
.modal {
  padding: 1em 2em;
  text-align: right;
}
}
.modal > label {
  background: #000;
  border-radius: .2em;
  color: #FFDE16;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin: 0.5em 1em;
  padding: 0.75em 1.5em;
  -webkit-transition: all 0.55s;
  transition: all 0.55s;
}
.modal > label:hover {
  -webkit-transform: scale(0.97);
  -ms-transform: scale(0.97);
  transform: scale(0.97);
}
.modal input {
  position: absolute;
  right: 100px;
  top: 30px;
  z-index: -10;
}
.modal__overlay {
  background: black;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  z-index: -800;
}
.modal__box {
  padding: 1em .75em;
  position: relative;
  margin: 1em auto;
  max-width: 500px;
  width: 90%;
}
@media (min-height: 37.5em) {
.modal__box {
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -80%);
  -ms-transform: translate(-50%, -80%);
  transform: translate(-50%, -80%);
}
}
@media (min-width: 50em) {
.modal__box { padding: 1.75em; }
}
.modal__box label {
  background: #FFDE16;
  border-radius: 50%;
  color: black;
  cursor: pointer;
  display: inline-block;
  height: 1.5em;
  line-height: 1.5em;
  position: absolute;
  right: .5em;
  top: .5em;
  width: 1.5em;
}
.modal__box h2 {
  color: #FFDE16;
  margin-bottom: 1em;
  text-transform: uppercase;
}
.modal__box p {
  color: #FFDE16;
  text-align: left;
}
.modal__overlay {
  opacity: 0;
  overflow: hidden;
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
}
input:checked ~ .modal__overlay {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 800;
}
input:focus + label {
  -webkit-transform: scale(0.97);
  -ms-transform: scale(0.97);
  transform: scale(0.97);
}

#twitter-chrome-extension-popup-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
#twitter-chrome-extension-popup-container:target {
  visibility: visible;
  opacity: 1;
}

#twitter-chrome-extension-popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

#twitter-chrome-extension-popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
#twitter-chrome-extension-popup #twitter-chrome-extension-close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
#twitter-chrome-extension-popup #twitter-chrome-extension-close:hover {
  color: #06D85F;
}
#twitter-chrome-extension-popup #twitter-chrome-extension-content {
  max-height: 30%;
  overflow: auto;
}