@import "@assets/style/theme.scss";

@font-face {
  font-family: "inter";
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Inter-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: "inter-semibold";
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Inter-SemiBold.ttf');
  font-weight: semi-bold;
}

@font-face {
  font-family: "inter-bold";
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Inter-Bold.ttf'); 
  font-weight: bold;
}

@font-face {
  font-family: "inter-bolder";
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Inter-ExtraBold.ttf'); 
  font-weight: bolder;
}

#twitrep-cards {
  font-family: inter;
  display: flex;
  flex-direction: row;
  overflow: auto;
  white-space: nowrap;
  margin-bottom: 8px;
  width: 100%;
}

#twitrep-cards::-webkit-scrollbar { 
  display: none;
}

#twitrep-cards * {
  white-space: normal;
}

#twitrep-cards h4 {
  font-size: 1.2rem;
  font-family: inter-bold;
  margin: 0;
  margin-bottom: 4px;
  padding: 0;
}

#twitrep-cards p {
  margin: 0;
  margin-left: 12px;
  font-size: 0.7rem;
  color: #566370;
}

#twitrep-cards strong {
  font-family: inter-bold;
  color: black;
}

.twitrep-card {
  display: inline-block;
  border-radius: 16px;
  padding: 12px;
  margin-left: 16px;
  border: 1.5px solid #D1D9DD;
  cursor: pointer;
}

.twitrep-card:last-child {
  margin-right: 16px;
}

.twitrep-card:hover {
  background-color: rgb(236, 236, 236);
}

.twitrep-row {
  display: flex;
  min-height: 32px;
  width: 280px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.twitrep-profile-container {
  position: relative;
  width: 58px;
  height: 20px;
}

.twitrep-profile-img {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  border: 1px solid white;
}

.twitrep-profile-img:nth-child(1) {
  position: absolute;
  left: 0px;
  z-index: 3;
}

.twitrep-profile-img:nth-child(2) {
  position: absolute;
  left: 8px;
  z-index: 2;
}

.twitrep-profile-img:nth-child(3) {
  position: absolute;
  left: 16px;
  z-index: 1;
}

/****** BADGE ******/
.twitrep-badges {
  font-family: inter;
  display: flex;
  flex-direction: row;
  overflow: auto;
  white-space: nowrap;
  padding-right: 16px;
}

.twitrep-badge {
  border-radius: 18px;
  height: 22px;
  font-size: 0.8rem;
  font-family: inter-semibold;
  background: #D1D9DD;
  color: #566370;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  margin-top: 2px;
  margin-bottom: 8px;
  padding-left: 2px;
  padding-right: 6px;
}

.twitrep-badge:hover {
  background: #bbc3c7;
}

.twitrep-badges::-webkit-scrollbar { 
  display: none;
}

.twitrep-badge .twitrep-profile-img {
  border: 1px solid #D1D9DD;;
}

.twitrep-badge p {
  margin: 0px;
  margin-left: 2px;
}

.twitrep-badge .twitrep-profile-container {
  width: 36px;
  margin-right: 0px;
}


/****** POPUP ******/
#twitrep-popup-container {
  position: fixed;
  font-family: inter, sans-serif;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
#twitrep-popup-container:target {
  visibility: visible;
  opacity: 1;
}

#twitrep-popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 12px;
  transition: opacity 500ms;
  width: 30%;
  min-width: 220px;
  position: relative;
}

#twitrep-popup a {
  color: #479BE9
}


#twitrep-popup p {
  color: #566370;
  // transition: none;
}

#twitrep-popup a:hover {
  color: #408CD2
}

#twitrep-popup h2 {
  margin-top: 0;
  color: #333;
  text-align: center;
  font-family: inter-bolder, sans-serif;
}

#twitrep-popup #twitrep-close {
  position: absolute;
  top: 12px;
  right: 12px;
  transition: opacity 200ms;
  font-size: 24px;
  line-height: 24px;
  height: 24px;
  width: 24px;
  text-decoration: none;
  color: white;
  background: #479BE9;
  border-radius: 50%;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
}

#twitrep-popup #twitrep-close:hover {
  background: #408CD2;
  color: rgb(245, 245, 245);
}

#twitrep-popup #twitrep-content {
  max-height: 30%;
  overflow: auto;
}

.truncate {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/****** ONBOARDING ******/
#twitrep-onboarding-container {
  position: fixed;
  font-family: inter, sans-serif;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

#twitrep-onboarding-container:target {
  visibility: visible;
  opacity: 1;
}

#twitrep-onboarding {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 12px;
  transition: opacity 500ms;
  width: 30%;
  min-width: 220px;
  position: relative;
}

#twitrep-onboarding a {
  color: #479BE9
}


#twitrep-onboarding p {
  color: #566370;
  // transition: none;
}

#twitrep-onboarding a:hover {
  color: #408CD2
}

#twitrep-onboarding h2 {
  margin-top: 0;
  color: #333;
  text-align: center;
  padding: 0 20px 0 20px;
  font-family: inter-bolder, sans-serif;
}

#twitrep-onboarding #twitrep-onboarding-close {
  position: absolute;
  top: 12px;
  right: 12px;
  transition: opacity 200ms;
  font-size: 24px;
  line-height: 24px;
  height: 24px;
  width: 24px;
  text-decoration: none;
  color: white;
  background: #479BE9;
  border-radius: 50%;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
}

#twitrep-onboarding-next-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

#twitrep-onboarding button {
  font-size: 14px;
  line-height: 32px;
  height: 32px;
	padding: 0 18px 0 18px;
  text-align: center;
  text-decoration: none;
  color: white;
  background: #479BE9;
  border-radius: 6px;
	border: none;
	cursor: pointer;
	outline: inherit;
  font-weight: bolder;
  margin-left: auto;
}

#twitrep-onboarding button.disabled {
  opacity: 0.5
}

#twitrep-onboarding #twitrep-onboarding-back {
  color: white;
  margin: 0;
  background: #D1D9DD;
  color: #566370;
}

#twitrep-onboarding #twitrep-onboarding-close:hover {
  background: #408CD2;
  color: rgb(245, 245, 245);
}

#twitrep-onboarding #twitrep-onboarding-next:hover {
  background: #408CD2;
  color: rgb(245, 245, 245);
}

#twitrep-onboarding #twitrep-onboarding-back:hover {
  background: #bfc5c9;
  color: #4a545d;
}

#twitrep-onboarding #twitrep-onboarding-content {
  max-height: 30%;
  overflow: auto;
}


/****** LISTS ******/
.twitrep-onboarding-checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #566370,
}

.twitrep-onboarding-checkbox-container:first-child {
  margin-top: 8px;
}

.twitrep-onboarding-checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.twitrep-onboarding-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}


/* On mouse-over, add a grey background color */
.twitrep-onboarding-checkbox-container:hover input ~ .twitrep-onboarding-checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.twitrep-onboarding-checkbox-container input:checked ~ .twitrep-onboarding-checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.twitrep-onboarding-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.twitrep-onboarding-checkbox-container input:checked ~ .twitrep-onboarding-checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.twitrep-onboarding-checkbox-container .twitrep-onboarding-checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/******* TYPES *******/
#twitrep-onboarding-type {
  border: 0;
  outline: 0;
  width: 100%;
  font-size: 1.2rem;
  margin-bottom: 32px;
  border-bottom: 2px solid #2196F3;
}

#twitrep-onboarding-type::placeholder {
  opacity: 0.5;
}

/****** FINAL ******/
#twitrep-onboarding-discover-lists {
  margin: 0 auto;
}

#twitrep-onboarding-discover-lists:hover {
  background: #408CD2;
  color: rgb(245, 245, 245);
}

#twitrep-onboarding.final {
  text-align: center;
}

#twitrep-onboarding.final svg {
  height: 72px;
  width: 72px;
  margin-bottom: 24px;
}

#twitrep-onboarding.final h2 {
  margin-bottom: 0;
}

#twitrep-onboarding.final p {
  margin-top: 8px;
  margin-bottom: 24px;
}